<ul *ngIf="students.length">
  <ng-container *ngFor="let student of students">
    <li *ngIf="student.goals">
      <h3>Name: {{ student.name }}</h3>
      <p>Goals: {{ student.goals }}</p>
    </li>
  </ng-container>
</ul>

<h3 *ngIf="!students.length">Error, no hay longitud</h3>
