<div *ngFor="let character of characters">
  <!-- ng-container creates an empty container that does not appear in the DOM -->
  <ng-container *ngIf="character.name && character.image">
    <h1>{{ character.name }}</h1>
    <img [src]="character.image" [alt]="character.name" width="200px" />
  </ng-container>
</div>
